.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
}
.header-logo {
  background-image: url($logo);
  width: 20%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.header-navbar {
  box-sizing: border-box;
  width: 65%;
  height: 100%;
  background-color: $color_purple;
  border-radius: 1.25em 5px 5px 1.25em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0% 5% 0% 5%;
}
.header-navbar-text-container {
  display: flex;
  gap: 2em;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
}
.header-navbar-text {
  width: 3.5em;
  height: calc(100% - 4px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color_white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25em;
  transition: 100ms;
}
.text {
  transition: 80ms;
}
.text:hover {
  transform: scale(1.1);
}
.header-search {
  width: 30%;
  height: 1.5em;
  background-color: $color_white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-search-input {
  box-sizing: border-box;
  padding-left: 1em;
  width: 80%;
  height: 1.5em;
  border: none;
  outline: none;
  border-radius: 5px 0px 0px 5px;
}
.header-search-button {
  background-image: url($loop);
  width: 20%;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
